.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/apps
/protected_storage
/logs
/static/assets
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/storage
/service-worker